html{
    background-color: aliceblue;
}
#apDiv1 {
	position: absolute;
	left: 4px;
	top: 125px;
	width: 160px;
	height: 535px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	left: 368px;
	top: 29px;
	width: 269px;
	height: 54px;
	z-index: 2;
}
#apDiv3 {
	position: absolute;
	left: 214px;
	top: 126px;
	width: 743px;
	height: 569px;
	z-index: 3;
}